/*
* Emily Quinn
* 4/18/18
* First CSS File
*/


/* The universal selector */

* {margin: 0; padding:0}

/* Put body attributes here */

body { 
	backgroung-color: #E6E6FA;
	color: black;
	font-style: bold;
}
